:root {
  --mobile-cell-1: 40%;
  --mobile-cell-2: 60%;
}

.table-main {
  border-color: #E9EAEB;
  border-width: 1px;
}

.table-main .header-cell {
  padding: 13px 24px;
  color: #535862;
}

.table-main .header-cell.one {
  width: 23.3%
}

@media only screen and (max-width: 640px) {
  .table-main .header-cell.one {
    width: var(--mobile-cell-1)
  }
}

.table-main .header-cell.two {
  width: 30.8%;
}

@media only screen and (max-width: 640px) {
  .table-main .header-cell.two {
    width: var(--mobile-cell-1)
  }
}

.table-main .header-cell.three {
  width: calc(100% - 23.3% - 30.8%);
}

@media only screen and (max-width: 640px) {
  .table-main .header-cell.three {
    display: none;
  }
}

.table-main .detail-row {
  border-bottom-color: #E9EAEB;
}

.table-main .detail-row:nth-last-child(-n + 1) {
  border: none;
}

.table-main .detail-cell {
  height: 72px;
  padding: 26px 24px;
  color: #535862;
}

.table-main .detail-cell.one {
  width: 23.3%
}

@media only screen and (max-width: 640px) {
  .table-main .detail-cell.one {
    width: var(--mobile-cell-1)
  }
}

.table-main .detail-cell.two {
  width: 30.8%;
}

@media only screen and (max-width: 640px) {
  .table-main .detail-cell.two {
    width: var(--mobile-cell-2);
  }
}

.table-main .detail-cell.three {
  width: calc(100% - 23.3% - 30.8%);
}

@media only screen and (max-width: 640px) {
  .table-main .detail-cell.three {
    display: none;
  }
}

.table-main .detail-cell .detail-txt {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}